@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
:root{
    --white:white;
    --black:#161616;
    --df:20;
}

body{
  font-family: 'Source Serif Pro', serif !important;
  overflow-x: hidden;
  overflow-y: hidden;
}

.skilldetails > a{
    color:var(--white);
    text-decoration: none;
    border-bottom: 1px solid;
    cursor: none;
}
#app{
  position: absolute;
    top:calc(5px*var(--df));
    /* left: calc(45px*var(--df)); */
    right: 6.8%;
    font-weight:500;
    color: white;
}

.title {
    font-size: calc(4px*var(--df));
    margin-left: var(--df);
    color: var(--white);
  }


#app:hover {
    opacity: 0.5;
  }
  .discription {
    margin-top: calc(5px*var(--df));
    font-size: car(1px*var(--df));
    width: calc(50px*var(--df));
    line-height: calc(1.4px*var(--df));
    color: white;
}
.contents{
  height: 100%;
  width: 100%;
  position: absolute;
  top:calc(27px*var(--df));
  left: 8%;
}

/* Keyframes for the Title Animation */
@keyframes text-clip {
    from {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }

  @keyframes grid-clip {
    from {
      clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
      opacity: 0;
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      opacity: 1;
    }
  }


  /* Title Animation */
  .contents{
      animation :grid-clip 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
  }

  .cafe,
.mozart {
  animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both;
}

.cafe-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both,
    text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.mozart-inner, .row1 {
  animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title {
  animation: outer-left 1s 1s ease both;
}

.cafe .cafe-inner {
    display: inline-block;
  }

.mozart {
  display: inline-block;
}


/* Skills Section */

.colored_skills {
  /* padding-right: 10px; */
  color: burlywood;
  position: relative;
  display: flex;
  margin-top: calc(11px * var(--df));
  justify-content: center;
  align-items: center;
  letter-spacing: 10px;
  display: flex;
  background-color: dimgray;
  /* height: 110px;
  width: 600px; */
  padding-left: 10px;
  font-size: 24px;
  flex-wrap: nowrap;
}
.skilldetails{
color: var(--white);
margin-top: calc(11px * var(--df));
font-size: 16px;
margin-left: calc(10px * (var(--df)/16));
line-height: calc(14px*1.25);
width: 100%;
word-spacing: 3px;
}

.skills{
display: flex;
width: 100%;
}

#tags{
  position: absolute;
  right:2%;
  z-index:2;
}



@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min--moz-device-pixel-ratio: 1.25),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 125dpi)
  {
    :root{
      --df:16;
  }
  
  #app{
      top:calc(1.2px*var(--df));
      left: calc(45px*var(--df));
    }
  
  .title {
      font-size: calc(4px*var(--df));
    }
  
  
  .discription {
      margin-top: calc(5px*var(--df));
      font-size: 14px;
      width: calc(50px*var(--df));
      line-height: calc(1.4px*var(--df));
      color: white;
  }
  .contents{
    top:calc(27px*var(--df));
  }
  .contents ul{
      font-size: 16px;
  }
  a {
    color:var(--white);
    margin-top: 30px;
    text-decoration: none;
  }
 
  /* NavBar */
  
  .title-card {
    transform-origin: calc(200px * var(--df)/16);
  }
  
  /* Keyframes for the Title Animation */
  @keyframes text-clip {
      from {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
      }
      to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
    }
  
    @keyframes grid-clip {
      from {
        clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
        opacity: 0;
      }
      to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        opacity: 1;
      }
    }
  
  
    /* Title Animation */
    .contents{
        animation :grid-clip 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
    }
  
    .cafe,
  .mozart {
    animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
  }
  
  .title-inner {
    display: inline-block;
    animation: inner-left 1s 1s ease both;
  }
  
  .cafe-inner {
    display: inline-block;
    animation: inner-left 1s 1s ease both,
      text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
  }
  
  .mozart-inner, .row1 {
    animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
  }
  
  .title {
    animation: outer-left 1s 1s ease both;
  }
  
  .cafe .cafe-inner {
      display: inline-block;
    }
  
  .mozart {
    display: inline-block;
  }
  
  /* Skills Section */

.colored_skills {
  margin-top: calc(8.5px * var(--df));
}
.skilldetails{
margin-top: calc(8.5px * var(--df));
margin-left: calc(10px * (var(--df)/16));
font-size:14px;
line-height: 14px;
}
  }

