@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
:root{
    --white:white;
    --black:#161616;
}
*{
    padding:0;
    margin: 0;
}
body{
  font-family: 'Source Serif Pro', serif !important;
  overflow-x: hidden;
  overflow-y: hidden;
}

.skilldetails > a{
    color:var(--white);
    text-decoration: none;
    border-bottom: 1px solid;
    cursor: none;
}
#app{
  position: absolute;
    top: 1.2rem;
    left: 50%;
    font-weight:500;
    color: white;
}

.title {
    font-size: 4rem;
    margin-left: 20px;
    color: var(--white);
  }


#app:hover {
    opacity: 0.5;
  }
.discription {
    margin-top: 10rem;
    font-size: 16px;
    margin-left: 2rem;
    width: 150rem;
    line-height: 3vh;
    color: white;
}
.contents{
  height: 100%;
  width: 100%;
  position: absolute;
  top:60%;
  left: 2%;
}
.contents ul{
    top: 89%;
    position: fixed;
    font-size: 14px;
    padding-left: 10px;
    display: flex;
    list-style: none;
}
a {
  color:var(--white);
  margin-top: 30px;
  text-decoration: none;
}
.links{
  margin-left: 40px;
}
/* .navbar{
    display: flex;
}  */

/* NavBar */

.title-card {
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform-origin: 200px;
  transition: transform 200ms;
}

.title-hover:hover ~ .title-card { transform: rotateY(0.5turn); }
.title-front {
  position: relative;
  backface-visibility: hidden;
}
.title-hover{
  position: absolute;
  width: 110px;
  left: 100px;
  z-index: 2;
  top: 24px;
  background-color: transparent;
  height: 40px;
}
.title-back {
  position: relative;
  backface-visibility: hidden;
  transform: rotateY(0.5turn);
  top: 4px;
  left:120px;
  font-size: 30px;
  font-size: 23px;
  font-family: "Source Serif Pro', serif";

}

.title2{
  position: relative;
  top: 30px;
  margin-left: 120px;
  font-size: 30px;
  font-size: 23px;
  font-family: "Source Serif Pro', serif";
}

/* projects button */
.projects{
   margin-top: 30px;
   margin-right: 40px;
   padding-bottom: 3px;
   border: none;
   right: 0%;
   font-size: 1rem;
   position: fixed;
   transition: transform 100ms ease;
   background-color: var(--black);
   color:var(--white)
}

.projects::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0%;
  width: 100%;
  left: 0%;

  transform: scaleX(0);
  transition: transform 300ms ease;
  transform-origin: left;
  background: burlywood;
}

.projects:hover {
  transform: scale(1.2);
}
.Close:hover .projects::after {
  transform: scaleX(1);
}
.About_me{
    width: 30%;
}

/* Keyframes for the Title Animation */
@keyframes text-clip {
    from {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }

  @keyframes grid-clip {
    from {
      clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
      opacity: 0;
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      opacity: 1;
    }
  }


  /* Title Animation */
  .contents{
      animation :grid-clip 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
  }

  .cafe,
.mozart {
  animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both;
}

.cafe-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both,
    text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.mozart-inner, .row1 {
  animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title {
  animation: outer-left 1s 1s ease both;
}

.cafe .cafe-inner {
    display: inline-block;
  }

.mozart {
  display: inline-block;
}


/* Skills Section */

.colored_skills {
  /* padding-right: 10px; */
  color: burlywood;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 10px;
  display: flex;
  background-color: dimgray;
  /* height: 110px;
  width: 600px; */
  padding-left: 20px;
  font-size: 24px;
  flex-wrap: nowrap;
}
.skilldetails{
color: var(--white);
font-size: 16px;
margin-left: 5%;
line-height: 3vh;
width: 40%;
word-spacing: 3px;
}

.skills{
margin-top: 5%;
display: flex;
width: 100%;
}

#tags{
  position: absolute;
  left:65%;
  top: -5%;
  z-index:2;
}
/* Layers */


.right-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: auto;
  left: 0%;
  bottom: auto;
  right: auto;
  background:#613645;
  transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.right-layer.active {
  left:100%;
}
.left-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: -100%;
  background: #613645;
  transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.left-layer.active {
  left: 0%;
}
