
.card{
  position: fixed;
  left:19.2rem;
  top:14.0625rem;
  height: 23.45rem;
  width:  32.64rem;
  transition: 500ms ease;
  background-color: #613645;
}


@media only screen and (max-width:960px) {
  .card{
    opacity: 0;
  }
  .fact{
    left:16rem; 
    top: 23.90rem;
  }
  .title{
    font-size: 40px;
  }
}
@media only screen and (min-width:960px) {
  .title{
    font-size: 2.5rem;
  }
  .fact{
    left: 50.7rem; 
    top: 23.90rem;
  }
}
@media only screen and (min-width:1000px)  {
  .title{
    font-size: 3.25rem;
  }
  .fact{
    left: 48rem; 
    top: 29rem;
  }
}
@media only screen and (max-width:670px) {
  .title{
    font-size: 30px;
  }
  .fact{
    left: 50.7rem; 
    top: 16.74rem;
  }
}

.fact{
  font-size: 1.1rem; 
  position: absolute;
   transition: 500ms ease;
}
.title{
    position: absolute;
    left: 39rem;
    transition: 500ms ease;
    top:14.06rem;
    text-transform:capitalize;
}

ul{
    position: absolute;
    bottom: 1rem;
    left:1rem;
    display: flex;
    list-style: none;
}

ul > *{
    margin-left: 1.25rem;
}
/* projects button */
.projects{
    top:3.625rem;
    margin-right: 1.25rem;
    padding-bottom: 0.1875rem;
    border: none;
    right: 0%;
    font-size: 1rem;
    position: absolute;
    transition: transform 100ms ease;
    background-color: var(--black);
    color:var(--white)
 }
 
 .projects::after {
   content: "";
   position: absolute;
   height: 0.125rem;
   bottom: 0%;
   width: 100%;
   left: 0%;
   
   transform: scaleX(0);
   transition: transform 300ms ease;
   transform-origin: left;
   background: burlywood;
 }
 
 .projects:hover {
   transform: scale(1.2);
 }
 .Close:hover .projects::after {
   transform: scaleX(1);
 }


.about{
  top:3.625rem;
  margin-right: 6.25rem;
  padding-bottom: 0.1875rem;
  border: none;
  font-size: 1rem;
  right: 0%;
  position: absolute;
  transition: transform 100ms ease;
  background-color: var(--black);
  color:var(--white)
}

.about::after {
 content: "";
 position: absolute;
 height: 2px;
 bottom: 0%;
 width: 100%;
 left: 0%;
 transform: scaleX(0);
 transition: transform 300ms ease;
 transform-origin: left;
 background: burlywood;
}

.about:hover {
 transform: scale(1.2);
}
.About:hover .about::after {
 transform: scaleX(1);
}


 /* Layers */

.right-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: auto;
  left: 0%;
  bottom: auto;
  right: auto;
  background: #613645;
  transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.right-layer.active {
  left:100%;
}

.left-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: auto;
  z-index: 10;
  left: -100%;
  bottom: auto;
  right: auto;
  background: #613645;
  transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.left-layer.active {
  left: 0%;
}
.links{
  margin-right: 1.25rem;
}