@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300&display=swap');

body{
  font-family: 'Monoton', 'cursive';
  overflow: hidden;
  color:white;
  transition: ease 500ms;
  background-color: #161616;
}
:root {
  --level-one: translateZ(3rem);
}

/* Card */
.block {
  position: relative;
  width: 40rem;
  transition: 500ms ease;
}
/* .Project-detail-title{

} */
.card-content {
  position: absolute;
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform 500ms;
  white-space: normal;
}
/* .card-content:hover {
  transform: rotateY(0.5turn);
} */
.hoverarea{
  position: absolute;
  height: 13rem;
  width: 13rem;
  z-index: 2;
}
.hoverarea:hover ~ .card-content { transform: rotateY(0.5turn); }
.card-front {
  position: relative;
  height: 30rem;
  width: 30rem;
  white-space: nowrap;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: 500ms ease;
}

@media screen and (max-height:700px) {
    .card-front{
      height: 28.31em;
    }
}
.card-back {
  position: relative;
  top: -25rem;
  color: #bac4b8;
  right: -8rem;
  backface-visibility: hidden;
  transform: rotateY(0.5turn);
  font-size: 0.875rem;
  font-family: 'Source Serif Pro', serif !important;
  width: 20rem;
  transform-style: preserve-3d;
}

.card-front::before {
  content: "";
  position: absolute;
  --spacer: 0.9375rem;
  top: var(--spacer);
  bottom: var(--spacer);
  right: var(--spacer);
  left: var(--spacer);
  border: 3px solid burlywood;
  transition: 500ms ease;
  transform: var(--level-one);
}

.card-front.hidden::before{
  opacity: 0;
}
.card-title {
  position: relative;
  padding-top: 3.75rem;
  padding-left: 2.6rem;
  font-size:2.3rem;
  transition: 500ms ease;
}
/* Cardlist */
.block-1 .card-front {
  background: url(../images/img-one.jpg) rgba(77, 38, 70, 0.247) no-repeat 50% 30%;
  background-size: cover;
  background-blend-mode:screen;

}

.block-2 .card-front {
  background: url(../images/img-two.png) rgb(224, 94, 116) no-repeat 60% 50%;
  background-size: cover;
}

.block-3 .card-front {
  background: url(../images/img-three.gif) rgba(35, 80, 62, 0.205) no-repeat 50% 50%;
  background-size: contain;

}

.block-4 .card-front {
  background: url(../images/img-four.gif) no-repeat 50% 50%;
  background-size: cover;

}

.block-5 .card-front {
  background: url(../images/Animation.gif) no-repeat 50%;
  background-size: cover;
}

.container {
  margin-top: 5.5rem;
  margin-left: 10rem;
  z-index: 2;
  transition:500ms ease;
}


/* Scroller */
.scroller {
  display: flex;
  position: absolute;
  left: 50%;
  transition: 400ms ease;
  top: 1.55rem;
}
.smalldivi {
  height: .875rem;
  width: 0.2 px;
  font-family: 'Source Serif Pro', serif !important;
  font-size: 0;
  padding-bottom:5px;
  margin-left: 5px;
  border:0.2px solid grey;
  transition: 400ms ease
}
/* title */

.title-card {
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform-origin: 10.25rem;
  transition: transform 200ms;
}

.title-hover:hover ~ .title-card { transform: rotateY(0.5turn); }
.title-front {
  position: relative;
  backface-visibility: hidden;
}
.title-hover{
  position: absolute;
  width: 6.875rem;
  left: 6.25rem;
  z-index: 2;
  top: 1.5rem;
  background-color: transparent;
  height: 2.5rem;
}
.title-back {
  position: relative;
  backface-visibility: hidden;
  transform: rotateY(0.5turn);
  top: 1.875rem;
  left:7.5rem;
  font-size: 1.1rem;
  font-family: "Source Serif Pro', serif";

}

.title{
  position: absolute;
  top: 1.875rem;
  margin-left: 7.5rem;
  font-size: 1.1rem;
  font-family: "Source Serif Pro', serif";
}
/* Button */
.about {
  position: relative;
  left: 94%;
  max-width: max-content;
  color: inherit;
  font-size: 16px;
  border: none;
  background: transparent;
  transition: transform 500ms ease;
  top: 30px;
  padding-bottom: 4px;
}
.about::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0%;
  width: 100%;
  left: 0%;
  transform: scaleX(0);
  transition: transform 300ms ease;
  transform-origin: left;
  background: burlywood;
}

.about:hover {
  transform: scale(1.2);
}
.About:hover .about::after {
  transform: scaleX(1);
}

.know_more {
  margin: 10% 0%;
  display: flex;
}
hr {
  margin-left: 6%;
}
.know_more > * {
  font-size: 1.1rem;
}

/* layers */

.right-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: auto;
  left: 0%;
  bottom: auto;
  right: auto;
  background:#613645;
  transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.right-layer.active {
  left:100%;
}
.left-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: -100%;
  background: #613645;
  transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.left-layer.active {
  left: 0%;
}

/* Info Screen */


@media only screen and (min-width:1200px) {
  
  .Info{
    font-family: 'Source Serif Pro', serif !important;
    position: absolute;
    color:#bac4b8;
    font-size: 0.75rem;
    transition: ease 500ms;
    top: 41rem;
    left: 27.84rem;
  }
  .Info > *{
    display: flex;
    padding-left:1.25rem;
  }
  
  .Info>*>*{
    padding-left: 1.25rem;
    height:0.125rem;
  }
  
  .A{
    overflow:hidden;
    height: 0px;
   
    background-color: transparent;
    transition: 500ms ease;
  }
  .B{
    overflow:hidden;
    background-color: transparent;
    height: 0px;
    transition: 500ms ease;
  }
  .C{
    background-color: transparent;
    overflow:hidden;
    height: 0px;
    transition: 500ms ease;
  }
  .D{
    background-color: transparent;
    overflow:hidden;
    height: 0px;
    transition: 500ms ease;
  }
 
  
.brief{
  font-family: 'Source Serif Pro', serif !important;
  position: absolute;
  color:#bac4b8;
  top: 43rem;
  left: 58rem;
  transition: 500ms ease;
  height: 0rem;
  width: 15rem;
  overflow: hidden;
  font-size: 0.75rem;
}

}

@media only screen and (max-width:1200px)
{
  .Info{
    display:none;
  }
  .brief{
    display:none;
  }

}

/* Explore */

.Explore{
  font-family: 'Source Serif Pro', serif !important;
  position: absolute;
  color:#bac4b8;
  top: 42rem;
  height: 0px;
  left: 47.8rem;
  overflow: hidden;
  font-size: 0.75rem;
}

.line{
  background-color:#bac4b8 ;
  width: 2px;
  overflow: hidden;
  position: absolute;
  transition:500ms ease;
  top: 44rem;
  left: 48.96rem;
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min--moz-device-pixel-ratio: 1.25),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 125dpi)
  {
    .line{
top:43rem;
    }
    .Explore{
      top:41rem;
    }
    .Info{
      top:40rem
    }
  }